<main>
  <app-header-component />
  <p>
    Access a variety of projects, content, and services on Patreon, Github, Curseforge, Modrinth, and Fiverr. Whether
    you're
    here to explore code, download mods, or obtain services, everything is available right here.
  </p>
  @for (v of this.privacyText; track $index) {

  @switch (v[0]) {

  @case (3) {
  <h4>{{v[1]}}</h4>
  }

  @case (2) {
  <h3>{{v[1]}}</h3>
  }

  @case (1) {
  <h2>{{v[1]}}</h2>
  }

  @default {
  <p>{{v[1]}}</p>
  }

  }
  }
</main>
