<p>
  Access a variety of projects, content, and services on Patreon, Github, Curseforge, Modrinth, and Fiverr. Whether
  you're
  here to explore code, download mods, or obtain services, everything is available right here.
</p>
<nav>
  <a href="https://patreon.com/jtorleon"
    class="glass"
    title="Support us on Patreon!"
    target="_blank"
    rel="noopener noreferrer">
    Support us on Patreon!
  </a>
  <a href="https://github.com/jtorleon-studios-team"
    class="glass"
    title="discover our projects on Github"
    target="_blank"
    rel="noopener noreferrer">
    Github
  </a>
  <a href="https://curseforge.com/members/jtorleon_studios/projects"
    class="glass"
    title="Discover our mods on Curseforge!"
    target="_blank"
    rel="noopener noreferrer">
    Curseforge
  </a>
  <a href="https://modrinth.com/user/jtorleon_studios"
    class="glass"
    title="Discover our mods on Modrinth!"
    target="_blank"
    rel="noopener noreferrer">
    Modrinth
  </a>
  <a href="#"
    class="glass"
    title="Fiverr (Coming Soon...)"
    rel="noopener noreferrer">
    Fiverr (Coming Soon...)
  </a>
</nav>
