 nav {
   display: flex;
   flex-direction: column;
   z-index: 1;
 }

 nav a { 
   text-align: center;
   padding: 25px 0;
   margin: 12.5px 0;
   transition: background-color 0.2s ease, border 0.2s ease;
 }

 nav a:hover {
   background-color: rgba(255, 255, 255, 0.4);
 }

 nav a[href="#"] {
   opacity: 0.5;
   cursor: not-allowed;
   background-color: rgba(255, 255, 255, 0.4);
 }
 