<p>
  Access a variety of projects, content, and services on Github, Curseforge,
  Modrinth. Whether you're here to explore code, download mods, or obtain
  services, everything is available right here.
</p>
<nav>
  <a
    href="https://github.com/jtorleon-studios-team"
    class="glass"
    title="discover our projects on Github"
    target="_blank"
    rel="noopener noreferrer"
  >
    Github
  </a>
  <a
    href="https://modrinth.com/organization/jtorleon_studios"
    class="glass"
    title="Discover our mods on Modrinth!"
    target="_blank"
    rel="noopener noreferrer"
  >
    Modrinth
  </a>
  <a
    href="https://curseforge.com/members/jtorleon_studios/projects"
    class="glass"
    title="Discover our mods on Curseforge!"
    target="_blank"
    rel="noopener noreferrer"
  >
    Curseforge
  </a>
  <a href="/discord" class="glass" target="_blank" rel="noopener noreferrer">
    Discord
  </a>
</nav>
