 main {
   height: 100%;
   max-height: 100%;
   padding: 20px;
   overflow: auto;
   z-index: 1;
   position: relative;
 }

 nav {
   display: flex;
   flex-direction: column;
   z-index: 1;
 }

 nav a {
   --margin: 25px;
   text-align: center;
   padding: 25px 0;
   margin-top: var(--margin);
   transition: background-color 0.2s ease, border 0.2s ease;
 }

 nav a:hover {
   background-color: rgba(255, 255, 255, 0.4);
 }

 nav a[href="#"] {
   opacity: 0.5;
   cursor: not-allowed;
   background-color: rgba(255, 255, 255, 0.4);
 }

 nav a:last-child {
   margin-bottom: calc(var(--margin) + var(--height-footer));
 }

 @media only screen and (max-width: 375px) {
   main {
     padding: 0 10px;
     font-size: 14px;
   }
 }

 @media only screen and (min-width: 375px) {
   main {
     padding: 0 15px;
     font-size: 15px;
   }
 }

 @media only screen and (min-width: 425px) {
   main {
     padding: 0 20px;
     font-size: 16px;
   }
 }

 @media only screen and (min-width: 600px) {
   main {
     padding: 0 50px;
     font-size: 18px;
   }
 }

 @media only screen and (min-width: 768px) {
   main {
     padding: 0 100px;
     font-size: 20px;
   }
 }

 @media only screen and (min-width: 992px) {
   main {
     padding: 0 150px;
     font-size: 22px;
   }
 }

 @media only screen and (min-width: 1200px) {
   main {
     padding: 0 200px;
     font-size: 24px;
   }
 }

 @media only screen and (min-width: 2500px) {
   main {
     padding: 0 200px;
     font-size: 35px;
   }
 }
